.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #1391ff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: inherit;
    touch-action: manipulation;
}