* {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  max-width: 600px;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/* Fix iOS button styling */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

/* Fix iOS input styling */
input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

/* Prevent iOS zoom on input focus */
input,
select,
textarea {
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh);
}