* {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  max-width: 600px;
  background-color: #fff;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh);
}