* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}